commands:
  "01": 
    command: rpm -ivvh --excludedocs --replacepkgs http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm --ftpproxy <PROXY_URL>
  "02": 
    command: echo 'proxy=<PROXY_URL>' >> /etc/yum.conf
  "03": 
    command: yum -y install newrelic-sysmond 
  "04": 
    command: nrsysmond-config --set license_key=<NR_LICENSE_KEY>
  "05": 
    command: echo hostname=<NAME>-`hostname` >> /etc/newrelic/nrsysmond.cfg 
  "06":
    command: sudo usermod -a -G docker newrelic
  "07":
    command: /etc/init.d/docker restart
  "08": 
    command: /etc/init.d/newrelic-sysmond restart